/theBigElephant/Configuration/Config.cs
/.vs/theBigElephant/v15/Server/sqlite3/db.lock
/.vs/theBigElephant/v15/Server/sqlite3/storage.ide
/.vs/theBigElephant/v15/Server/sqlite3/storage.ide-shm
/.vs/theBigElephant/v15/Server/sqlite3/storage.ide-wal
/packages/linq2db.2.3.0/lib/net45/linq2db.dll
/packages/linq2db.2.3.0/lib/net45/linq2db.pdb
/packages/linq2db.2.3.0/lib/net45/linq2db.xml
/packages/linq2db.2.3.0/lib/netcoreapp2.0/linq2db.dll
/packages/linq2db.2.3.0/lib/netcoreapp2.0/linq2db.pdb
/packages/linq2db.2.3.0/lib/netcoreapp2.0/linq2db.xml
/packages/linq2db.2.3.0/lib/netstandard1.6/linq2db.dll
/packages/linq2db.2.3.0/lib/netstandard1.6/linq2db.pdb
/packages/linq2db.2.3.0/lib/netstandard1.6/linq2db.xml
/packages/linq2db.2.3.0/lib/netstandard2.0/linq2db.dll
/packages/linq2db.2.3.0/lib/netstandard2.0/linq2db.pdb
/packages/linq2db.2.3.0/lib/netstandard2.0/linq2db.xml
/packages/linq2db.2.3.0/linq2db.2.3.0.nupkg
/packages/linq2db.2.3.0/MIT-LICENSE.txt
/packages/linq2db.2.3.0/Readme.txt
/packages/linq2db.MySql.2.3.0/build/linq2db.MySql.props
/packages/linq2db.MySql.2.3.0/content/LinqToDB.Templates/CopyMe.MySql.tt.txt
/packages/linq2db.MySql.2.3.0/content/LinqToDB.Templates/DataAnnotations.ttinclude
/packages/linq2db.MySql.2.3.0/content/LinqToDB.Templates/DataModel.ttinclude
/packages/linq2db.MySql.2.3.0/content/LinqToDB.Templates/EditableObject.ttinclude
/packages/linq2db.MySql.2.3.0/content/LinqToDB.Templates/Humanizer.ttinclude
/packages/linq2db.MySql.2.3.0/content/LinqToDB.Templates/LinqToDB.MySql.Tools.ttinclude
/packages/linq2db.MySql.2.3.0/content/LinqToDB.Templates/LinqToDB.MySql.ttinclude
/packages/linq2db.MySql.2.3.0/content/LinqToDB.Templates/LinqToDB.Tools.ttinclude
/packages/linq2db.MySql.2.3.0/content/LinqToDB.Templates/LinqToDB.ttinclude
/packages/linq2db.MySql.2.3.0/content/LinqToDB.Templates/MultipleFiles.ttinclude
/packages/linq2db.MySql.2.3.0/content/LinqToDB.Templates/NotifyDataErrorInfo.ttinclude
/packages/linq2db.MySql.2.3.0/content/LinqToDB.Templates/NotifyPropertyChanged.ttinclude
/packages/linq2db.MySql.2.3.0/content/LinqToDB.Templates/ObsoleteAttributes.ttinclude
/packages/linq2db.MySql.2.3.0/content/LinqToDB.Templates/PluralizationService.ttinclude
/packages/linq2db.MySql.2.3.0/content/LinqToDB.Templates/T4Model.ttinclude
/packages/linq2db.MySql.2.3.0/content/LinqToDB.Templates/Validation.ttinclude
/packages/linq2db.MySql.2.3.0/contentFiles/any/any/LinqToDB.Templates/CopyMe.MySql.tt.txt
/packages/linq2db.MySql.2.3.0/contentFiles/any/any/LinqToDB.Templates/DataAnnotations.ttinclude
/packages/linq2db.MySql.2.3.0/contentFiles/any/any/LinqToDB.Templates/DataModel.ttinclude
/packages/linq2db.MySql.2.3.0/contentFiles/any/any/LinqToDB.Templates/EditableObject.ttinclude
/packages/linq2db.MySql.2.3.0/contentFiles/any/any/LinqToDB.Templates/Humanizer.ttinclude
/packages/linq2db.MySql.2.3.0/contentFiles/any/any/LinqToDB.Templates/LinqToDB.MySql.Tools.ttinclude
/packages/linq2db.MySql.2.3.0/contentFiles/any/any/LinqToDB.Templates/LinqToDB.MySql.ttinclude
/packages/linq2db.MySql.2.3.0/contentFiles/any/any/LinqToDB.Templates/LinqToDB.Tools.ttinclude
/packages/linq2db.MySql.2.3.0/contentFiles/any/any/LinqToDB.Templates/LinqToDB.ttinclude
/packages/linq2db.MySql.2.3.0/contentFiles/any/any/LinqToDB.Templates/MultipleFiles.ttinclude
/packages/linq2db.MySql.2.3.0/contentFiles/any/any/LinqToDB.Templates/NotifyDataErrorInfo.ttinclude
/packages/linq2db.MySql.2.3.0/contentFiles/any/any/LinqToDB.Templates/NotifyPropertyChanged.ttinclude
/packages/linq2db.MySql.2.3.0/contentFiles/any/any/LinqToDB.Templates/ObsoleteAttributes.ttinclude
/packages/linq2db.MySql.2.3.0/contentFiles/any/any/LinqToDB.Templates/PluralizationService.ttinclude
/packages/linq2db.MySql.2.3.0/contentFiles/any/any/LinqToDB.Templates/T4Model.ttinclude
/packages/linq2db.MySql.2.3.0/contentFiles/any/any/LinqToDB.Templates/Validation.ttinclude
/packages/linq2db.MySql.2.3.0/linq2db.MySql.2.3.0.nupkg
/packages/linq2db.MySql.2.3.0/tools/linq2db.dll
/packages/linq2db.MySql.2.3.0/tools/MySql.Data.dll
/packages/MySql.Data.6.10.7/lib/net452/MySql.Data.dll
/packages/MySql.Data.6.10.7/lib/net452/MySql.Data.xml
/packages/MySql.Data.6.10.7/lib/netcoreapp2.0/MySql.Data.dll
/packages/MySql.Data.6.10.7/lib/netcoreapp2.0/MySql.Data.xml
/packages/MySql.Data.6.10.7/lib/netstandard1.3/MySql.Data.dll
/packages/MySql.Data.6.10.7/lib/netstandard1.3/MySql.Data.xml
/packages/MySql.Data.6.10.7/lib/netstandard2.0/MySql.Data.dll
/packages/MySql.Data.6.10.7/lib/netstandard2.0/MySql.Data.xml
/packages/MySql.Data.6.10.7/MySql.Data.6.10.7.nupkg
/theBigElephant/bin/debug/MySql.Data.dll
/theBigElephant/bin/debug/MySql.Data.xml
/theBigElephant/bin/debug/theBigElephant.exe
/theBigElephant/bin/debug/theBigElephant.pdb
/.vs/theBigElephant/v14/.suo
/.vs/theBigElephant/v15/.suo
/theBigElephant/bin/debug/Google.Protobuf.dll
/theBigElephant/bin/debug/MySql.Data.dll
/theBigElephant/bin/debug/MySql.Data.xml
/theBigElephant/bin/debug/theBigElephant.exe
/theBigElephant/bin/debug/theBigElephant.pdb
